/*LiveScoresTable.css*/


form {
  display: flex;
  justify-content:space-around;
  align-items: baseline;
}

input {
  display: flex;
  justify-content: center;

  padding: 15px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.fetchbutton {
  background-color:#199b13;
  border: none;
  color: white;
  padding: 10px 25px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.fetchbutton:hover {
  background-color: #0c6b07;
}



.infobutton {
  background-color:#c0a126;
  border: none;
  color: white;
  padding: 5px 15px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.infobutton:hover {
  background-color:#140a4a;
}

.infobutton:hover {
  background-color: #977d16;

}



.scorestable {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0 10px;
  /* Set spacing between rows */

  text-align: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.scorestable th {
  background-color: #efeab5;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;

  padding: 15px;
  margin: 20px;

  display: flexbox;
  flex-direction: row;
  justify-content: space-evenly;
}

.scores-table td {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: flexbox;
  flex-direction: row;
  justify-content: space-evenly;
}


.scorestable tr:nth-child(even) {
  background-color: #efefeb;
}

.scorestable tr:hover {
  background-color: #ecd784;
}