.h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;

}

.h3 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.title {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;

    letter-spacing: 0.5px;

    margin: 30px;
}

.datepicker {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    width: 100%;
    margin-top: 100px;
    margin: 30px;

    position: absolute; /* Set position to absolute */
    top: 75px; /* Adjust top position as needed */
    left: 1180px;

    display: flex;
    justify-content: baseline;
}

.dateAndTitle {
    display: flex;
    justify-content: baseline;
    flex-direction: row;

}