/*
TODO: Fix the styling of the sports categories
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

.search {
    margin-top: 1.2rem;
    text-align: center;
}
/*
.searchBar {
    width: 15%;
    height: 6%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 13px 30px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;   
}
*/

.searchBar {
    width: 300px; /* adjust width as needed */
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* slightly visible border */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5); /* slightly visible background */
    color: #000; /* text color */
    outline: none; /* remove outline */
  }
  
/* Button */
.submitButton {
    background-color: rgb(126, 37, 83); /* button color */
    color: #fff; /* text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none; /* remove outline */
    transition: background-color 0.3s ease;
}
  
.search-button:hover {
    background-color: rgb(106, 27, 73); /* darker color on hover */
}

.button {
    background-color: rgba(250, 239, 93);
}   

.allImages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.sportsCategory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

/* Set a fixed height for all rows in the grid */
.sportsCategory > div {
display: flex;
flex-direction: column;
}

/* Ensure all images within a row cover the container */
.sportsCategory > div > .imageContainer {
flex-grow: 1;
}


.imageContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.sportsImage {
    width: 100%; 
    height: auto; 
    max-width: 700px;
    max-height: 500px;
    transition: transform 0.3s ease;
}

.sportsTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: blue;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: translateY(100%);
}

.imageContainer:hover .sportsImage{
    transform: scale(1.2);
}

.sportsImage:hover + .sportsTitle {
    opacity: 1.5; 
}

.header, .playerInfo {
    margin-left: 40px;
}

.playerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.playerInfo {
    font-size: 30px;
}
/*
.sportsImage {
    max-width: 25%;
    height: 45%;
    margin: 3rem;
}

.allImages {
    display: flex;
    justify-content: center;
    height: 80vh;
}
*/
/*
.sports-page {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.sports-image:hover img {
    opacity: 0.7;
}

.sports-image:hover .sports-link {
    opacity: 1;
}

.sports-page {
    background-color: #1D2B53;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
*/