.search-bar {
    width: 30%;
    border-radius: 30px;
    padding: 18px 30px;
    font-size: 1.4em;
    font-family: FontAwesome;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
