.fanzone-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 32px; /* Adjust the size as needed */
  font-weight: bold; /* Makes text bold */
  text-decoration: underline; /* Underlines the text */
  margin-bottom: 1em; /* Adds space below the header */
}

.sports-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 24px; /* Adjust the size as needed to be smaller than .fanzone-header */
  font-weight: bold; /* Makes text bold */
  text-decoration: underline; /* Underlines the text */
  /* Other styles remain unchanged */
}

.video-carousel-item .video-link {
    position: relative;
    display: block;
}

.video-carousel-item .video-thumbnail-wrapper {
    position: relative;
}

.video-carousel-item .video-thumbnail-wrapper .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; /* Adjust size as needed */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-carousel-item .video-thumbnail-wrapper:hover .play-button {
    opacity: 1;
}

.video-carousel-item .video-thumbnail-wrapper:hover img {
    filter: brightness(50%);
}


.baseball-videos-section {
  margin-top: 2rem; /* Adjust the space as needed */
}

.soccer-videos-section {
  margin-top: 2rem; /* Adjust the space as needed */
}

.football-videos-section {
  margin-top: 2rem; /* Adjust the space as needed */
}