/*StatsTable.css*/

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    
  }
  
  h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  }
  
  h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  
  
  
  .scorestable {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 10px; /* Set spacing between rows */
  
    padding: 15px;
    margin: 20px;
    text-align: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .scorestable th {
    background-color: #efeab5;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  
    padding: 15px;
    margin: 20px;
  
    display: flexbox;
    flex-direction: row;
    justify-content:space-evenly;
  }
  
  .scores-table td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flexbox;
    flex-direction: row;
    justify-content:space-evenly;
  }
  
  
  .scorestable tr:nth-child(even) {
    background-color: #efefeb;
  }
  
  .scorestable tr:hover {
    background-color: #ecd784;
  }
  
  
  
  
  
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #333;
    background-color: #eee;
    color: #333;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  .button:active {
    background-color: #ccc;
  }
    
    
  
    .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: 2px solid #333;
      background-color: #eee;
      color: #333;
      border-radius: 5px;
    }
    
    .button:hover {
      background-color: #ddd;
    }
    
    .button:active {
      background-color: #ccc;
    }