/*page.module.css*/

.h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    
}

.h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  text-align: center;
}

.h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color:#c3b825
}

.spinner {
  position: absolute; /* Set position to absolute */
  top: 100px; /* Adjust top position as needed */
  left: 40px;
}


/* from chatgpt */
.returnbutton {
  position: absolute; /* Set position to absolute */
  top: 100px; /* Adjust top position as needed */
  left: 40px;

  background-color: #bda42a; 
  border: none;
  color: white;
  padding: 10px 20px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.returnbutton:click {
  background-color: #998024; 
}

.returnbutton:hover {
  background-color: #998024; 
}




/*keagan's items*/

.title {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 120px;
    
  }
  
.game {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #c3b825;
    text-align: center;
  }
  
.gameName {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 20px; 
    border-radius: 10%;
  }


.gameScore {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
}
  
  
.line { /*used chatgpt*/
    width: 100%; 
    height: 2px; 
    display: flex;
    justify-content: center;
    background-color: black; 
  }
  

  
  
  