/*page.module.css*/

.h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    
}

.h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  text-align: center;
}

.h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  text-align: center;
}

.h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color:#c3b825
}


.spinner {
  position: absolute; /* Set position to absolute */
  top: 100px; /* Adjust top position as needed */
  left: 150px;
}


.buttonGroup {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color:#bda42a;
  border-color: #000000;
  border-width: 1px;
}

.button:hover {
  background-color: #998024;
  border-color: #000000;
}

.button:active {
  background-color: #998024;
  border-color: #000000;
}

.button:focus {
  background-color: #998024;
  border-color: #000000;
}

.button {
  background-color: #998024;
  border-color: #000000;
}

/* from chatgpt */
.returnbutton {
  position: absolute; /* Set position to absolute */
  top: 100px; /* Adjust top position as needed */
  left: 40px;

  background-color: #bda42a; 
  border: none;
  color: white;
  padding: 10px 20px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.returnbutton:active {
  background-color: #998024; 
}

.returnbutton:hover {
  background-color: #998024; 
}




/*keagan's items*/

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;

    margin-top: 40px;
  }
  
.game {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #c3b825;
    text-align: center;
  }
  
.gameName {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 20px; 
    border-radius: 10%;
  }


.gameScore {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
}
  
  